:root {
  --text: rgb(21, 26, 34);
  --darkest: rgb(73, 84, 100);
  --dark: rgb(187, 191, 202);
  --light: rgb(238, 238, 238);
  --lightest: rgb(248, 248, 244);

  --eggshell: rgb(247, 247, 244);

  --serene-green: rgb(140, 153, 135);
  --forest-green: rgb(124, 148, 115);

  --inky: #22223b;
  --night: #4a4e69;
  --dessert-night: #8f838d;
  --dessert: #cfb4ae;
  --sand: #f2e9e4;

  --focus-orange: #f17d3f;
  --focus-yellow: rgb(243, 185, 59);
}

html {
  font-size: 62.5%;
}

body {
  /* FONT FORMAT: font-weight, font-size/line-height font-family */
  font: 300 20px/1.5 "Garamond", "Georgia", "Times New Roman", "Times", "serif";
  background-color: var(--dark);
  color: var(--text);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
